body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: left;
}
h1 {
  padding-top: 0px;
}
h2 {
  padding-top: 20px;
}
h3 {
  padding-top: 20px;
}
.section {
  padding-bottom: 20px;
}
a {
    text-decoration: none;
}
.text-container {
    max-width: 40em;
}
.iframe-container {
    height: min(50vh, 9/16 * 100vw);
    width: min(100vw, 16/9 * 50vh);
    overflow: hidden;
}
.iframe-container iframe {
    width: 100%;
    height: 100%;
}
